section.wrapper{
    text-align: center;
}
canvas {
    display: inline;
    outline: 1px solid black;
    max-height: 70vh;
    max-width: 100vw;
}
img{
    visibility: hidden;
}

section.full{
    width: 100%;
    outline: 1px solid green;
    margin: 0;
    padding: 0;
}

section.half{
    width: 50%;
    float: left;
    outline: 1px solid orange;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    section.half{
        width: 100%;
    }
  }
